{% extends 'base.html' %}
{% load static %}
{% block title %}Our Services{% endblock %}

{% block content %}


  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/7.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Service</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Service</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/heart.jpg' %}" alt="">
            </div>
            <h5>Heart Surgery</h5>
            <p>Our hospital is considered to be one of the most best hospital for heart surgery with well experienced surgeon.
            So if you get a heart attack then there is nothing to worry now.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/brain.jpg' %}" alt="">
            </div>
            <h5>Brain Surgery</h5>
            <p>Brain is the most sensitive part of our body and we can do a better treatment of it.
            We have succeeded in many such cases before.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/kidney.jpg' %}" alt="">
            </div>
            <h5>Kidney Transplant</h5>
            <p>We have enough kidney for everyone in low budget and high quality. Lifetime guarantee is provided.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/liver.jpg' %}" alt="">
            </div>
            <h5>Liver Failure</h5>
            <p>No need to worry anymore if your liver is failed. We have well experienced doctors and modern equipments
            that helps your liver to pass.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/intestine.jpg' %}" alt="">
            </div>
            <h5>Intestine Surgery</h5>
            <p>If you get a bullet shot in stomach or if you have any kind of digestion problem then 
            don't think too much and come straight to us.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/ecg.jpg' %}" alt="">
            </div>
            <h5>More deseases</h5>
            <p>Those above items are just the main desease pointout but besides we do treatment for almost every
            other kinds of deseases so come and check us out.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/7.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.png' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Hello guys! My name is Manjir Gurung and I am from Nepal. I had some sickness recently. I had some problem with my brain. I was there in Mr. Rohits hospital 
                for the check up and I found his hospital has the best treatment in this whole world. Advanced equipments, well experienced doctor and very friendly environment.
              And the nurses were cute of course. You shall visit there once.!”</h5>
                <h6>Manjir Gurung</h6>
                <p>Hospital Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.1.png' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“I am Kaca Nagara. I am from Indonesia. My wife was facing a problem of heart beat and decrease and increase of blood pressure since few years.
                I have been hearing about this hospital for a long time. Once I decided to take my wife there for check up and now I think I had made the great decision.
              I took her there for treatment and now she is all fine. The hospital is great and doctors are great. Best hospital in the world.”</h5>
                <h6>Kaca Nagara</h6>
                <p>Hospital Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.2.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Boom here from Thailand. This hospital is really great guys. Just go there and check it out.”</h5>
                <h6>Boom Chachawat</h6>
                <p>Hospital Patient</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>The Latest News</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/4.png' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">How corona virus is spreading worldwide?</a>
              <p>Coronavirus is one of the most dangerous virus human being ever faced. It is also named as CoVid 19 in ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 20 April 2020</a>
                <a href="#"><i class="icon_chat_alt"></i> 7 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/5.png' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">China build a hospital in 6 days!</a>
              <p>In the time of this great pandemic, China build a hospital with 1000 bed capacity within 6 days. This is one of the fastest built project in the history of ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 20 April 2020</a>
                <a href="#"><i class="icon_chat_alt"></i> 28 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/6.png' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Good diet for good health</a>
              <p>Good diet is really important for everyone to stay health and fight against the different kind of viruses and desease. According to the record of virus, the people maintaining good  ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 20 April 2020</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->


{% endblock %}